#container {
  background-color: rgb(0, 145, 255);
  grid-column: 1;
  color: white;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: 1fr;
  justify-items: center;
}

#container > * {
  font-size: 1.6em;
}

#signOut {
  grid-row: 5 / span 10;
  padding: 10px 0;
  align-self: end;
  justify-self: stretch;
  color: inherit;
  border: none;
  background-color: transparent;
}

#signOut:hover {
  cursor: pointer;
  background-color: rgb(0, 135, 235);
}
